{% extends '//base.html.twig' %}

{% block body %}
<center>
  <h2>Changement de mot de passe</h2>
  {{ form_start(form) }}
    Mot de passe :
  <div class="form-group">
      {{ form_widget(form.mdp) }}<br/>
  </div>
  {{ form_widget(form.valider, { attr: {class: 'btn btn-primary'} }) }}

</center>
{% endblock %}
