{% extends '//base.html.twig' %}

{% block body %}
<center>
  <h2>Identification</h2>
  {{ form_start(form) }}
    Login * :
  <div class="form-group">
      {{ form_widget(form.login) }}<br/>
  </div>
    Mot de passe * :
  <div class="form-group">
    {{ form_widget(form.mdp) }}
  </div>
  <a href="{{ path('bi_premiereConnexion') }}">Première connexion</a><br>
  {{ form_widget(form.valider, { attr: {class: 'btn btn-primary'} }) }}
</center>
{% endblock %}
