{% extends '//base.html.twig' %}

{% block body %}
<center>
  <h2>Première connexion</h2>
  {{ form_start(form) }}
    Login * :
  <div class="form-group">
      {{ form_widget(form.login) }}<br/>
  </div>
  {{ form_widget(form.valider, { attr: {class: 'btn btn-primary'} }) }}
  
</center>
{% endblock %}
