<!DOCTYPE html>
<html>
    <head>
        <!---<link rel="stylesheet" href="styles.css" />--->
        <title>
            BatiIntérim - Gestionnaire
        </title>
        <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('bi_homepage',{'profil' : 'gestionnaire'}) }}">BatIntérim</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="{{ path('bi_gestionFicheArtisan')}}"><span class="sr-only">(current)</span>Gestion fiche artisan</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ path('bi_gestionFicheEntrepreneur')}}">Gestion fiche entrepreneur</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ path('bi_gestionCourante')}}">Gestion courante</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href=""></a>
                    </li>
                </ul>
                <a href="{{ path('bi_deconnexion') }}" class="nav-link">Déconnexion</a>
            </div>
        </nav>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <div id="footer">
            <center> &copy; Mentions Légales - {{ app.session.get('login') }} - {{ "now"|date("d/m/Y") }} </center>
        </div>
    </body>
</html>
