{% extends '@Bi/baseGestionnaire.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    Libelle du corps metier : {{ form_widget(form.libelleCorpsMetier) }}
    {{ form_end(form) }}
{% endblock %}
