{% extends '//baseGestionnaire.html.twig' %}

{% block body %}
<center>
  <h1>Détail de l'entrepreneur</h1>
  <table class="table table-striped">
    <tr>
      <td>{{ detailEntrepreneur.raisonsociale }}</td>
    </tr>
    <tr>
      <td>{{ detailEntrepreneur.nomresponsable }}</td>
    </tr>
    <tr>
      <td>{{ detailEntrepreneur.prenomresponsable }}</td>
    </tr>
    <tr>
      <td>{{ detailEntrepreneur.telresponsable }}</td>
    </tr>
    <tr>
      <td>{{ detailEntrepreneur.telephoneentreprise }}</td>
    </tr>
    <tr>
      <td>{{ detailEntrepreneur.adresseentreprise}}</td>
    </tr>
    <tr>
      <td>{{ detailEntrepreneur.cpentreprise }}</td>
    </tr>
    <tr>
      <td>{{ detailEntrepreneur.villeentreprise }}</td>
    </tr>
  </table>
</center>
{% endblock %}
