{% extends '//baseGestionnaire.html.twig' %}

{% block body %}
<center>
  <h1>Détail de l'artisan</h1>
  <table class="table table-striped">
    <tr>
      <td>{{ detailArtisan.nomartisan }}</td>
    </tr>
    <tr>
      <td>{{ detailArtisan.prenomartisan }}</td>
    </tr>
    <tr>
      <td>{{ detailArtisan.datenaissanceartisan | date("m/d/Y") }}</td>
    </tr>
    <tr>
      <td>{{ detailArtisan.villenaissanceartisan }}</td>
    </tr>
    <tr>
      <td>{{ detailArtisan.paysnaissanceartisan }}</td>
    </tr>
    <tr>
      <td>{{ detailArtisan.telephoneartisan}}</td>
    </tr>
    <tr>
      <td>{{ detailArtisan.adresseartisan }}</td>
    </tr>
    <tr>
      <td>{{ detailArtisan.cpArtisan }}</td>
    </tr>
    <tr>
      <td>{{ detailArtisan.villeartisan}}</td>
    </tr>
    <tr>
      <td>{{ detailArtisan.idcorpsmetier.libellecorpsmetier }}</td>
    </tr>
  </table>
</center>
{% endblock %}
