{% extends '//baseGestionnaire.html.twig' %}

{% block body %}
  <center>
    <h1>
      <b>Nouvel entrepreneur</b>
    </h1>
    {{form_start(form) }}
      <div class="form-group">
        {{ form_row(form.raisonsociale, { 'label' : "Raison sociale de l'entreprise :  " }) }}
      </div>
      <div class="form-group">
        {{ form_row(form.nomresponsable, { 'label' : "Nom du responsable :  " }) }}
      </div>
      <div class="form-group">
        {{ form_row(form.prenomresponsable, { 'label' : "Prenom du responsable :  " }) }}
      </div>
      <div class="form-group">
        {{ form_row(form.telresponsable, { 'label' : "Téléphone du responsable :  " }) }}
      </div>
      <div class="form-group">
        {{ form_row(form.telephoneentreprise, { 'label' : "Téléphone de l'entreprise :  " }) }}
      </div>
      <div class="form-group">
        {{ form_row(form.adresseentreprise, { 'label' : "Adresse de l'entreprise :  " }) }}
      </div>
      <div class="form-group">
        {{ form_row(form.cpentreprise, { 'label' : "Code postal de l'entreprise :  " }) }}
      </div>
      <div class="form-group">
        {{ form_row(form.villeentreprise, { 'label' : "Ville de l'entreprise :  " }) }}
      </div>
      <div class="form-group">
        {{form_end(form)}}
      </div>
  </center>
{% endblock %}
