{% extends '//baseGestionnaire.html.twig' %}

 {% block body %}
     <h1>GESTION COURANTE</h1>
     <table style="border : 1px solid black">
         <tr style="border : 1px solid black">
             <td style="border : 1px solid black">Gestion corps métier</td>
             <td style="border : 1px solid black">Gestion des secteurs</td>
         </tr>
         <tr style="border : 1px solid black">
             <td style="border : 1px solid black"><a href="{{path('bi_initCorpsMetier')}}">Insertion des corps métier</a>&nbsp;</td>
             <td style="border : 1px solid black"><a href="{{path('bi_initSecteur')}}">Insertion des secteurs</a>&nbsp;</td>
         </tr>
         <tr style="border : 1px solid black">
             <td style="border : 1px solid black"><a href="{{path('bi_createFormCorpsMetier')}}">Ajouter un corps métier</a>&nbsp;</td>
             <td style="border : 1px solid black"><a href="{{path('bi_createFormSecteur')}}">Ajouter un secteur</a>&nbsp;</td>
         </tr>
         <tr style="border : 1px solid black">
             <td style="border : 1px solid black"><a href="{{path('bi_supprimerCorpsMetier')}}">Supprimer un corps métier</a></td>
         </tr>
     </table>
 {% endblock %}
