{% extends '//baseGestionnaire.html.twig' %}

 {% block body %}
 <h1>GESTION FICHE ARTISAN</h1>
  <a href="{{ path('bi_creerFicheArtisan') }}">Créer un artisan</a>&nbsp;
  <a href="{{ path('bi_supprimerFicheArtisan') }}">Supprimer un artisan</a>&nbsp;
  <a href="{{ path('bi_consulterFicheArtisans') }}">Consulter les artisans</a>
{% endblock %}
