{% extends '//baseGestionnaire.html.twig' %}

 {% block body %}
 <h1>GESTION FICHE ENTREPRENEUR</h1>
  <a href="{{ path('bi_creerFicheEntrepreneur') }}">Créer un entrepreneur</a>&nbsp;
  <a href="{{ path('bi_supprimerFicheEntrepreneur') }}">Supprimer un entrepreneur</a>&nbsp;
    <a href="{{ path('bi_consulterFicheEntrepreneur') }}">Consulter les entrepreneurs</a>
{% endblock %}
