{% extends "//baseGestionnaire.html.twig" %}

{% block body %}
    La suppression de l'entreprise sélectionné qui est Mr <b>{{ data.nomresponsable }} {{ data.prenomresponsable }} </b> a bien été prise en compte
{% endblock %}
