{% extends "//baseGestionnaire.html.twig" %}

{% block body %}
    La suppression de l'artisan sélectionné qui est Mr <b>{{ data.nomartisan }} {{ data.prenomartisan }} </b> a bien été prise en compte
{% endblock %}
