{% extends '//baseGestionnaire.html.twig' %}

{% block body %}
<center>
  <h1>Liste des Entrepreneurs</h1>
  <table class="table table-striped">
    <tr>
      <th scope="col">Raison sociale</th>
      <th scope="col">Nom du responsable</th>
      <th scope="col">Prénom du responsable</th>
      <th scope="col">Détails</th>
    </tr>
    {% for unEntrepreneur in lesEntrepreneurs %}
    <tr>
      <td>{{ unEntrepreneur.raisonsociale }}</td>
      <td>{{ unEntrepreneur.nomresponsable }}</td>
      <td>{{ unEntrepreneur.prenomresponsable }}</td>
      <td><a href="{{ path('bi_detailEntrepreneur', { 'id' : unEntrepreneur.id }) }}"><button class="btn btn-primary">Détails</button></a><br></td>
    </tr>
    {% else %}
        <tr>
          <td><h1>Il n'y a pas d'entrepreneurs</h1></td>
        </tr>
    {% endfor %}
  </table>
</center>
{% endblock %}
