{% extends '//baseGestionnaire.html.twig' %}

{% block body %}
<center>
  <h1>Liste des Artisans</h1>
  <table class="table table-striped">
    <tr>
      <th scope="col">Nom de l'artisan</th>
      <th scope="col">Prénom de l'artisan</th>
      <th scope="col">Détails</th>
    </tr>
    {% for unArtisan in lesArtisans %}
    <tr>
      <td>{{ unArtisan.nomartisan }}</td>
      <td>{{ unArtisan.prenomartisan }}</td>
      <td><a href="{{ path('bi_detailArtisan', { 'id' : unArtisan.id }) }}"><button class="btn btn-primary">Détails</button></a><br></td>
    </tr>
    {% else %}
        <tr>
          <td><h1>Il n'y a pas d'artisans</h1></td>
        </tr>
    {% endfor %}
  </table>
</center>
{% endblock %}
