{% extends '//baseArtisan.html.twig' %}

{% block body %}
  <center>
    <h1>CREER UN CONGE</h1>
    {{ form_start(formConge) }}
    <div class="form-group">
      {{ form_row(formConge.datedebutconge) }}
    </div>
    <div class="form-group">
      {{ form_row(formConge.datefinconge) }}
    </div>
    <div class="form-group">
      {{ form_end(formConge) }}
    </div>
  </center>
{% endblock %}
