{% extends '//baseArtisan.html.twig' %}

{% block body %}
<center>
  <h1>INFO ARTISAN</h1>
  {{form_start(form) }}
    <div class="form-group">
      {{ form_row(form.nomartisan, { 'label' : "Nom de l'artisan :  " }) }}
    </div>
    <div class="form-group">
      {{ form_row(form.prenomartisan, { 'label' : "Prénom de l'artisan :  " }) }}
    </div>
    <div class="form-group">
      {{ form_row(form.datenaissanceartisan, { 'label' : "Date de naissance de l'artisan :  " }) }}
    </div>
    <div class="form-group">
      {{ form_row(form.villenaissanceartisan, { 'label' : "Ville de naissance de l'artisan :  " }) }}
    </div>
    <div class="form-group">
      {{ form_row(form.paysnaissanceartisan, { 'label' : "Pays de naissance de l'artisan :  " }) }}
    </div>
    <div class="form-group">
      {{ form_row(form.telephoneartisan, { 'label' : "Téléphone de l'artisan :  " }) }}
    </div>
    <div class="form-group">
      {{ form_row(form.adresseartisan, { 'label' : "Adresse de l'artisan :  " }) }}
    </div>
    <div class="form-group">
      {{ form_row(form.cpartisan, { 'label' : "Code postal de l'artisan :  " }) }}
    </div>
    <div class="form-group">
      {{ form_row(form.villeartisan, { 'label' : "Ville de l'artisan :  " }) }}
    </div>
    <div class="form-group">
      {{ form_row(form.idcorpsmetier, { 'label' : "Corps métier de l'artisan :  " }) }}
    </div>
    <div class="form-group">
      {{form_end(form)}}
    </div>
</center>
{% endblock %}
