{% extends '@TKBat/baseArtisan.html.twig' %}

{% block body %}
    <h2>Liste des corps metier</h2>
    <select>
    {% for LeCorpsMetier in LesCorpsMetier %}
            <option value="{{ LeCorpsMetier['id'] }}">{{ LeCorpsMetier['libelleCorpsMetier'] }}</option>
    {% endfor %}
    </select>

{% endblock %}