{% extends '//baseArtisan.html.twig' %}

{% block body %}
<center>
  <h1>Vos congés</h1>
  <table class="table table-striped">
    <tr>
      <th scope="col">Date de debut de congé</th>
      <th scope="col">Date de fin de congé</th>
      <th scope="col">Etat du congé</th>
      <th scope="col">Supprimer</th>
    </tr>
    {% for unConge in lesConges %}
    <tr>
      <td>{{ unConge.datedebutconge | date("m/d/Y") }}</td>
      <td>{{ unConge.datefinconge | date("m/d/Y") }}</td>
      <td>{{ unConge.etatconge }}</td>
      <td><a href="{{ path('bi_supprimerCongeArtisan', { 'id' : unConge.id }) }}"><button class="btn btn-primary">Supprimer</button></a><br></td>
    </tr>
    {% else %}
        <tr>
          <td><h1>Vous n'avez pas de congés</h1></td>
        </tr>
    {% endfor %}
  </table>
</center>
{% endblock %}
