{% extends '//baseArtisan.html.twig' %}

{% block body %}
<center>
  <h1>Vos congés</h1>
  <table class="table table-striped">
    <tr>
      <th scope="col">Intitule de la Mission</th>
      <th scope="col">Nombre d'artisans</th>
      <th scope="col">Prix journalier</th>
      <th scope="col">Date de début de mission</th>
      <th scope="col">Date de fin de mission</th>
    </tr>
    {% for uneMission in lesMissions %}
    <tr>
      <td>{{ uneMission.intitulemission }}</td>
      <td>{{ uneMission.nombreartisans }}</td>
      <td>{{ uneMission.prixjournalier }}</td>
      <td>{{ uneMission.datedebutmission }}</td>
      <td>{{ uneMission.datefinmission }}</td>
      <td><a href="{{ path('bi_supprimerCongeArtisan', { 'id' : unConge.id }) }}"><button class="btn btn-primary">Supprimer</button></a><br></td>
    </tr>
    {% else %}
        <tr>
          <td><h1>Vous n'avez pas de congés</h1></td>
        </tr>
    {% endfor %}
  </table>
</center>
{% endblock %}
